{% extends 'base.html' %} {% load static %} <br />
{% block title %}About{% endblock title%} <br />

{% block header %}{% endblock header %} <br />
{% block content %}

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          We are experience tech professional who are aspiring to make a
          difference in the society and ensuring people life easier in order to
          sort out their problem and find the best possible solutions for them.
          It's just a beginning, Many more features will come in the near
          future.
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>Most affordable services in the
            market
          </li>
          <li>
            <i class="ri-check-double-line"></i> We believe in quality over
            quantity
          </li>
          <li>
            <i class="ri-check-double-line"></i> Customer satisfaction is our
            main priority
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          We are comitted to give people more access in order to reach their
          goal. In modern technology world, everyone is preparing their services
          into online.So we are taking the initiative to provide the facilities
          next to the people door.
        </p>
        <a href="#" class="btn-learn-more">Learn More</a>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->

{%endblock content %} <br />
